<td ui-if="!isInEditMode" ng-click="setInEditMode()" xmlns="http://www.w3.org/1999/html">
    <span>{{ wordItem.id }}</span>
</td>
<td ui-if="isInEditMode">
    <i class="icon-backward pointer" ng-click="setInViewMode()"/>
</td>

<td ui-if="!isInEditMode" ng-click="setInEditMode()">
    <span>{{ wordItem.word }}</span>
</td>
<td ui-if="isInEditMode">
    <span class="input-prepend input-append">
        <input ng-model="wordItem.word" type="text" class="input-mini"/>
    </span><br/>
    <i class="icon-ok" ng-click="saveWord()"/>
</td>

<td ui-if="!isInEditMode" ng-click="setInEditMode()" class="hidden-phone hidden-tablet">
    <span>{{ wordItem.type }}</span>
</td>
<td ui-if="isInEditMode" class="hidden-phone hidden-tablet">
    <span class="input-prepend input-append">
        <input ng-model="wordItem.type" type="text" class="input-mini"/>
    </span><br/>
    <i class="icon-ok" ng-click="saveWord()"/>
</td>

<!-- Pinyin -->
<td ui-if="!isInEditMode" ng-click="setInEditMode()" class="hidden-phone hidden-tablet">
    <span>{{ wordItem.pinyinSet | showPinyin }}</span>
</td>
<td ui-if="isInEditMode" ng-click="setInEditMode()" class="hidden-phone hidden-tablet">
    <div class="input-prepend input-append pinyin-editor" ng-repeat="pinyin in wordItem.pinyinSet">
        <input ng-model="wordItem.pinyinSet[$index]" type="text" class="input-small"/>
        <button class="btn" ng-click="deletePinyin(pinyin)"><i class="icon-trash"/></button>
    </div>
    <div>
        <i class="icon-plus pointer" ng-click="addPinyin()"/>
        <i class="icon-ok pointer" ng-click="saveWord()"/>
    </div>
</td>

<!-- PartOfSpeech -->
<td ui-if="!isInEditMode" ng-click="setInEditMode()">
    <span>{{ wordItem.partOfSpeeches | showPartOfSpeech }}</span>
</td>
<td ui-if="isInEditMode">
    <div>
        <my-word-freq-editor ng-repeat="wordFreq in wordItem.partOfSpeeches"/>
    </div>
    <div>
        <i class="icon-plus" ng-click="addPartOfSpeech()"/>
        <i class="icon-ok" ng-click="saveWord()"/>
    </div>
</td>

<!-- Concept -->
<td ui-if="!isInEditMode" ng-click="setInEditMode()">
    <span>{{ wordItem.conceptSet | showConcept }}</span>
</td>
<td ui-if="isInEditMode">
    <div>
        <my-concept-editor ng-repeat="concept in wordItem.conceptSet" ng-model="concept"/>
    </div>
    <div ui-if="(wordItem.conceptSet.length > 0) || couldAddConcept()">
        <i class="icon-plus" ng-click="addConcept()"/>
        <i class="icon-ok" ng-click="saveWord()"/>
    </div>
</td>

<td class="hidden-phone hidden-tablet">{{ wordItem.createAt }}</td>
<td class="hidden-phone hidden-tablet">{{ wordItem.user | showUsername }}</td>
