<div class="word-index-area">
    <ul class="inline">
        <li my-word-index="selectedIndex" ng-model="wordIndex" ng-repeat="wordIndex in wordIndexes" class="word-index">
            <a href="#/dictionary/core/{{wordIndex}}">{{wordIndex}}</a></li>
    </ul>
</div>

<div class="pinyin-area">
    <ul class="inline">
        <li my-word-index="selectedPinyin" ng-model="pinyin" ng-repeat="pinyin in pinyinIndexes" class="word-index">
            <a href="#/dictionary/core/{{alphabetical+'/'+pinyin}}">{{pinyin}}</a></li>
    </ul>
</div>

<div class="word-head-area">
    <ul class="inline">
        <li my-word-index="selectedHead" ng-model="wordHead" ng-repeat="wordHead in wordHeads" class="word-index word-head">
            <a href="#/dictionary/core/{{alphabetical+'/'+selectedPinyin+'/'+wordHead}}">{{wordHead}}</a></li>
    </ul>
</div>
<div class="dictionary-search-result-info">有{{ wordItems.length }}个词以'{{ selectedHead }}'开头</div>
<div class='basic-dict'>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <td>#Id</td>
            <td>词</td>
            <td>类型</td>
            <td>拼音</td>
            <td>词性(标注, 词频)</td>
            <td>概念(标注, 词性)</td>
            <td>创建日期</td>
            <td>提交人</td>
        </tr>
        </thead>
        <tbody class="table-align-center">
        <tr my-row-of-word ng-repeat="wordItem in wordItems" ng-model="wordItem"/>
        </tbody>
    </table>
</div>

<div class="pull-request">
</div>