<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar collapsed" data-toggle="collapse"
                    data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">Max-Prob-Segment</a>

            <div class="nav-collapse collapse" ng-controller="NavigationCtrl">
                <ul class="nav">
                    <li ng-repeat="item in menu" class="{{item.class}}" ng-click='select(item)'>
                        <a href="{{item.href}}">{{item.value}}</a>
                    </li>

                </ul>

                <div class="navbar-form pull-right" ng-switch on="hasSignedIn()">
                    <span ng-switch-when="false"><a class="btn" href="../login.htm">Sign in</a></span>
                    <span class="btn" ng-switch-when="true">{{currentUser.firstName}} <a href="../j_spring_security_logout">Sign out</a></span>
                </div>
            </div>

        </div>
    </div>
</div>
