<div class='segment-area'>
    <div>{{i18n('SegmentIntroduceText')}}</div>
    <div>
        <textarea class='segment-text' ng-model="inputText"
                  placeholder="{{i18n('SegmentInputPlaceholderText')}}"></textarea>
    </div>
    <input class="btn btn-success" type="button" value="{{i18n('SegmentButtonText')}}" ng-click="segment()"/>
    <hr/>
    <label class="checkbox inline"><input type="checkbox" ng-checked="isSupportEnglish" ng-model="isSupportEnglish" value="true">英文词性</label>
    <label class="checkbox inline"><input type="checkbox" ng-checked="isRecognizePinyin" ng-model="isRecognizePinyin">汉字转拼音</label>
    <label class="checkbox inline"><input type="checkbox" ng-checked="isSegmentMin" ng-model="isSegmentMin">最小化分词</label>
</div>

<div>
    <p>
        <span ng-repeat="word in segmentResult">
            <word ng-model="word"/>
        </span>
    </p>
</div>