<div class="masthead">
    <h3 class="muted">Max-Prob-Segment</h3>

    <div class="navbar">
        <div class="navbar-inner">
            <button type="button" class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="nav-collapse collapse">
                <ul class="nav" ng-controller="NavigationCtrl">
                    <li ng-repeat="item in menu" class="{{item.class}}" ng-click='select(item)'><a href="{{item.href}}">{{item.value}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>