.word {
    display: inline-block;
}

.word input {
    width: 50px;
}

.with-color .word-pos-n {
    color: #55C5C5
}

.word ul {list-style-type: none;}

.segment-area {
    width: 100%;
    text-align: center;
}

.segment-text {
    width: 90%;
    height: 200px;
}

.word-index { cursor:pointer; }

.word-index.selected { font-size:30pt; }