<?xml version="1.0" encoding="UTF-8"?>

<beans:beans
        xmlns="http://www.springframework.org/schema/security"
        xmlns:beans="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <global-method-security pre-post-annotations="enabled">
        <!-- AspectJ pointcut expression that locates our "post" method and applies security that way
        <protect-pointcut expression="execution(* bigbank.*Service.post*(..))" access="ROLE_TELLER"/>
        -->
    </global-method-security>

    <http use-expressions="true">
        <intercept-url pattern="/app/**" access="permitAll" />
        <form-login
                login-page="/login.jsp"
                authentication-failure-url="/login.jsp?login_error=1"
                login-processing-url="/security_check"
                default-target-url="/"/>
        <logout invalidate-session="true" logout-success-url="/login.jsp"/>
        <remember-me />

        <!-- Uncomment to limit the number of sessions a user can have -->
        <session-management invalid-session-url="/login.jsp">
            <concurrency-control max-sessions="1" error-if-maximum-exceeded="false" />
        </session-management>

    </http>

    <authentication-manager>
        <authentication-provider user-service-ref='myUserDetailsService'>
            <!--<password-encoder hash="none"/>-->
        </authentication-provider>
    </authentication-manager>

</beans:beans>
